<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magicbinder"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="@string/app_version" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MagicBinderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/PinnedTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.binder_card.Binder_CardCreateActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Binder_Card" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.binder_card.Binder_CardEditActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Binder_Card" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.binder_card.Binder_CardShowActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Binder_Card" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.binder_card.Binder_CardListActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.collection/com.magicbinder.Binder_Card" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.binder.BinderCreateActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Binder" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.binder.BinderEditActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Binder" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.binder.BinderShowActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Binder" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.binder.BinderListActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.collection/com.magicbinder.Binder" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.card.CardCreateActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Card" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.card.CardEditActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Card" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.card.CardShowActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Card" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.card.CardListActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.collection/com.magicbinder.Card" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.quality.QualityCreateActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Quality" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.quality.QualityEditActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Quality" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.quality.QualityShowActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Quality" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.quality.QualityListActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.collection/com.magicbinder.Quality" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.color.ColorCreateActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Color" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.color.ColorEditActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Color" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.color.ColorShowActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.magicbinder.Color" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.color.ColorListActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.collection/com.magicbinder.Color" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.magicbinder.provider.MagicBinderProvider"
            android:authorities="com.magicbinder.provider"
            android:description="@string/app_provider_description"
            android:exported="false"
            android:label="@string/app_provider_name" />


        <activity
            android:name=".view.search.SearchListActivity"
            android:label="@string/name_search_list">
        </activity>
        <activity
            android:name=".view.card.CardDetailActivity"
            android:label="@string/name_search_card_detail" >
        </activity>
        <activity
            android:name=".view.binder.BinderCardDetailActivity"
            android:label="@string/name_binder_card_detail" >
        </activity>
    </application>

</manifest>